<%- include('partials/header') -%>



    <body class="indexContainer">
        
        <main class="container">
            <iframe src="https://giphy.com/embed/xTiQymDvr5H6Cx9S8M" width="480" height="205" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/star-wars-rogue-one-xTiQymDvr5H6Cx9S8M">via GIPHY</a></p>
            <div class="index-intro">
                <div>
                    <h3 class="index-h3"><b>Level up your Intervu's</h3> <h2>Practice makes perfect</b></h2>
                </div>
                
                <div>
                    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
                    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
                </div>
            </div>
        </main>
    </body>

    <%- include('partials/footer') -%>