<%- include('partials/header') -%>

    <style>
        #bg-video{
         background-image: url(../imgs/test2.gif)
        }

    </style>

    <body class="indexContainer">

        <video id="bg-video" autoplay="" loop="" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
            <source src="videos/hero-video-shortened-transcode.mp4" data-wf-ignore="true">
            <source src="videos/hero-video-shortened-transcode.webm" data-wf-ignore="true">
        </video>

        <main class="container">
            
            <div class="index-intro">
                <div>
                    <h3 class="index-h3"><b>Level up your Intervu's</h3>
                    <h2>Practice makes perfect</b></h2>
                </div>

                <div>
                    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
                    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
                </div>
            </div>
        </main>
    </body>

    <%- include('partials/footer') -%>