





    <%- include('partials/header') -%>
    
    <main class="container">
        <div class="jumbotron text-center">
            <h1>Career Coach Pro</h1>
            <img class="index-img"src="../imgs/main.png" alt="Career Photo">
    
            <h3 class="index-h3">Get Hired with Confidence:</h3> <h2>Ace Your Interview with Our Career Coach App!</h2>
    
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    
        </div>
    </main>
    
    
    <%- include('partials/footer') -%>
